{% extends "base.html" %} {% block title %} Schedule Choices {% endblock %} {% block css %}schedule.css{% endblock %} 
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

<h1>Schedule Options</h1>

<div class="cal-navigation">
    <button id="prev">Previous</button>
    <div id="page">
        <span id="current-page">1</span>
        <span> of </span>
        <span id="total-pages">1</span>
    </div>
    <button id="next">Next</button>
</div>

<script>
    calendars = [];
    num = 0;
    function updateCalendar(direction) {
        if (direction == "next") {
            num = num + 1;
        } else if (direction == "prev") {
            num = num - 1;
        }

        if (num <= 0) {
            num = 0;
            document.getElementById("prev").disabled = true;
        } else if (num >= calendars.length - 1) {
            num = calendars.length - 1;
            document.getElementById("next").disabled = true;
        } else {
            document.getElementById("prev").disabled = false;
            document.getElementById("next").disabled = false;
        }

        document.getElementById("current-page").innerHTML = num + 1;

        let calendar = calendars[num];
        calendar.render();
    }

    function clearCalendar() {
        var calendarEl = document.getElementById("calendar");
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: "prev,next today",
                center: "title",
                right: "dayGridMonth,timeGridWeek,timeGridDay",
            },
            initialView: "timeGridWeek",
        });
        calendar.render();
    }

    // load and save all valid calendars to `calendars`
    document.addEventListener("DOMContentLoaded", function () {
        var calendarEl;
        var calendar;
        var daysOfWeek = [];

        document.getElementById("total-pages").innerHTML = '{{valid_course_options|length}}';

        {% for valid_option in valid_course_options %}
        
        calendarEl = document.getElementById("calendar");
        calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: "",
                center: "title",
                right: "",
            },
            initialView: "timeGridWeek",
            initialDate: "2024-05-01",
        });
        daysOfWeek = [];

        {% for course in valid_option %}{% for section in course %}

        for (let i = 0; i < '{{section.course_days}}'.length; i++) {
            if ('{{section.course_days}}'[i] == 'M') {
                daysOfWeek.push('1');
            } else if ('{{section.course_days}}'[i] == 'T') {
                daysOfWeek.push('2');
            } else if ('{{section.course_days}}'[i] == 'W') {
                daysOfWeek.push('3');
            } else if ('{{section.course_days}}'[i] == 'R') {
                daysOfWeek.push('4');
            } else if ('{{section.course_days}}'[i] == 'F') {
                daysOfWeek.push('5');
            }
        }
        
        calendar.addEvent({
            title: "{{section.course_code}} {{section.course_type}}",
            startTime: '{{section.course_start_time}}',
            endTime: '{{section.course_end_time}}',
            daysOfWeek: daysOfWeek,
            startRecur: '{{section.start_date}}',
            endRecur: '{{section.end_date}}',
            {% if "LEC" in section.course_type or "BLD" in section.course_type or "ASY" in section.course_type or "ASO" in section.course_type or "SYN" in section.course_type %}
            title: "{{section.course_code}} {{section.course_type}} Sec: {{section.course_section}} \n Instructor: {{section.course_instructor}}",
            color: '#0f5454',
            {% elif "TUT" in section.course_type or "SEM" in section.course_type%}
            color: 'green',
            {% else %}
            color: '#9061f9',
            {% endif %}
        });
        daysOfWeek = []
        
        

        {% endfor %}{% endfor %}
        calendars.push(calendar);
        {% endfor %}
        
        updateCalendar("prev");
    });

    document.getElementById("next").addEventListener("click", function () {
        updateCalendar("next");
    });

    document.getElementById("prev").addEventListener("click", function () {
        updateCalendar("prev");
    });
</script>



<div id="calendar"></div>

{% endblock %}
